<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<div id="videos">
  <video id="localVideo" autoplay playsinline #localVideo></video>
  <video id="remoteVideo" autoplay playsinline #remoteVideo></video>
</div>

<div>
  <button (click)="createOrJoin()" [disabled]="inTheRoom">Create or Join</button>
  <button (click)="hangUp()" [disabled]="!inTheRoom">Hang Up </button>

  <button (click)="getNumber()">Say Bye</button>
</div>

<div *ngFor="let message of messages">
  {{message}}
</div> 
